body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(assets/images/prode-background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  //font-family: "Calibre Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: auto;
  letter-spacing: 0.025em;
}
